@font-face {
  font-family: "SharpSans-Bold";
  src:
    url("../fonts/SharpSans/SharpSansDispNo1-Bold.ttf") format("truetype"),
    url("../fonts/SharpSans/SharpSansDispNo1-Bold.woff") format("woff"),
    url("../fonts/SharpSans/SharpSansDispNo1-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpSans-Regular";
  src:
    url("../fonts/SharpSans/SharpSansDispNo1-Medium.ttf") format("truetype"),
    url("../fonts/SharpSans/SharpSansDispNo1-Medium.woff") format("woff"),
    url("../fonts/SharpSans/SharpSansDispNo1-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpSans-Regular-Italic";
  src:
    url("../fonts/SharpSans/SharpSansDispNo1-MediumIt.ttf") format("truetype"),
    url("../fonts/SharpSans/SharpSansDispNo1-MediumIt.woff") format("woff"),
    url("../fonts/SharpSans/SharpSansDispNo1-MediumIt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpSans-Bold-Italic";
  src:
    url("../fonts/SharpSans/SharpSansDispNo1-BoldIt.ttf") format("truetype"),
    url("../fonts/SharpSans/SharpSansDispNo1-BoldIt.woff") format("woff"),
    url("../fonts/SharpSans/SharpSansDispNo1-BoldIt.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
