img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Aaux-Regular", sans-serif;
}

.text-white {
  color: white;
}

.text-green {
  color: $primary-color;
}

.text-black {
  color: black;
}

a {
  text-decoration: underline;

  &.btn {
    text-decoration: none;
  }
}

nav a {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}
