img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

body {
  font-family: "Aaux-Regular", sans-serif;
}

.text-white {
  color: white;
}

.text-green {
  color: $primary-color;
}

.text-black {
  color: black;
}

.bg-black {
  background: black;
  color: white;

  .btn-green {
    &:hover {
      background: white;
      color: black;
    }
  }
}

.hide {
  display: none;
}

.bg-gray {
  background: $beige;
}

.footnote {
  border-top: 1px solid $gray-550;
  padding-top: 1rem;
  color: $gray-550;
}

.reverse {
  flex-direction: row-reverse;
}

.bold {
  font-family: "Aaux-Bold", sans-serif;
}

.text-larger {
  font-size: 1.25rem;
}

a {
  text-decoration: underline;

  &.btn {
    text-decoration: none;
  }
}

nav a {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.img-sq img {
  height: 255px;
  width: 255px;
  object-fit: cover;
}

.meta {
  display: flex;
  color: $gray-600;
  margin-bottom: 1rem;

  .author {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid $gray-550;
  }
}

.list-asterisk a {
  position: relative;
  padding-right: 2rem;
  margin-top: 1rem;

  &::after {
    content: url("../images/green-asterisk-xs.png");
    position: relative;
  }
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
