.arrow-border {
  border: 20px solid black;
  position: relative;
  padding: 2rem;
  margin: 3rem 0;

  .col-lg-6 {
    padding: 0 2.3rem;
  }

  .arrow {
    color: black;
    background: white;
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-size: 5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

    .icon {
      transform: rotate(45deg);
    }
  }
}

.full-width-two-col {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .container-inner {
    .row {
      align-items: center;
    }
  }
}

.full-width-one-col {
  margin: 1rem 0;
}

.bg-img-upload .full-width-text-inner {
  padding: 3rem;
  background: rgba(0, 0, 0, 0.75),;
  color: white;
}

.bg-black {
  background: black;
  color: white;
  padding: 2rem 0;
}

.bg-img-plain {
  padding: 2rem 0;
}

.full-width {
  position: relative;
}

.asterisk-yes {
  position: relative;

  &.asterisk-right {
    padding: 3rem 0 10rem;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .asterisk-container {
      position: absolute;
      right: 0;
      top: 5rem;
      z-index: 5;
      max-width: 350px;
      overflow-x: hidden;

      img {
        max-width: 500px;
      }
    }

    .container-inner {
      position: relative;
      z-index: 6;
    }

    &.join-asterisk {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &.join-block-template {
    .asterisk-container {
      top: 0;
    }
  }

  &.asterisk-top {
    margin-top: 10rem;

    .asterisk-container {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      max-width: 100%;
      text-align: center;

      img {
        max-width: 150px;
      }
    }

    .container-inner {
      margin-top: 4rem;
    }
  }
}

.post-state,
.post-campaign {
  text-transform: uppercase;
  margin-top: 1rem;

  label {
    font-family: "Aaux-Bold", sans-serif;
    margin: 0;
  }

  ul {
    padding: 0;
    display: flex;
    margin: 0;

    li {
      margin-left: 1rem;
      list-style: none;
      padding-bottom: 3px;

      a {
        padding: 0.35rem;
        font-size: 0.75rem;
        background: $gray-200;
        font-family: "Aaux-Bold", sans-serif;
        text-decoration: none;

        &:hover {
          background: $primary-color;
        }
      }
    }
  }
}

.bold-block {
  padding: 8rem 0;
  background: black;
  color: white;

  .letter-block {
    margin: 2rem 0;
    display: flex;
    position: relative;

    .letter {
      background: $primary-color;
      font-family: "Aaux-Black", sans-serif;
      color: black;
      font-weight: 600;
      font-size: 5rem;
      line-height: 7rem;
      text-align: center;
      width: 112px;
      height: 112px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      box-shadow: -5px -5px 30px black;

      @include media-breakpoint-down(md) {
        right: 0;
        margin: auto;
      }

      .letter-link {
        text-decoration: none;
      }
    }

    .content {
      width: 90%;
      margin-left: 10%;
      background: white;
      color: black;
      min-height: 225px;
      padding: 2rem 4rem 2rem 6rem;
      z-index: 3;

      @include media-breakpoint-down(md) {
        margin-left: 5%;
        padding: 5rem 2rem 2rem;
        margin-top: 4rem;

        h3 {
          margin-top: 0;
        }
      }

      a {
        &:hover {
          color: black;
        }

        &.btn-black-outline {
          &:hover {
            color: white;
          }
        }

        &.btn-white-outline {
          color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  &.bold-tall {
    background: white;
    color: black;

    .letter {
      box-shadow: 0 0 30px black;
    }

    .letter-block {
      .content {
        background: black;
        color: white;

        a {
          color: white;

          &:hover {
            color: $primary-color;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.background-image {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

.box-shadow {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.75);
}

.black-box {
  padding: 2rem;
  background: black;
  color: white;
  max-width: 330px;
  margin: auto;
  text-align: left;

  h3 {
    margin-bottom: 2rem;
  }
}

.list-asterisk-green ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.15rem;

  li {
    position: relative;
    padding-left: 2rem;
    margin-top: 1rem;

    &::before {
      content: url("../images/green-asterisk-xs.png");
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.tax-list {
  margin-top: 2rem;
}

.tax-list-item {
  margin-bottom: 2rem;

  .excerpt {
    color: $gray-550;
    font-size: 1.15rem;
  }

  .meta {
    display: flex;
    color: $gray-550;
    margin: 0.5rem 0;
    font-size: 1rem;

    .name {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $gray-550;
    }
  }

  h4 {
    font-size: 1.25rem;

    svg {
      margin-left: 0.5rem;
      max-width: 0.875rem;
    }
  }
}

.two-col-flex {
  display: flex;
  align-items: center;

  .left,
  .right {
    flex: 1;
  }

  .text {
    padding: 0 5rem;
  }

  @include media-breakpoint-down(md) {
    display: block;

    .text {
      padding-bottom: 2rem;
    }
  }
}

.map-left {
  padding-right: 5rem;

  @include media-breakpoint-down(md) {
    padding-right: 0;
  }

  .select {
    margin-top: 1rem;
    max-width: 30%;
    background-color: white;

    @include media-breakpoint-down(md) {
      max-width: 80%;
      margin-left: 10%;
    }
  }

  .state-map {
    margin-top: 1rem;
    max-width: 75%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
}

.select-page {
  width: 50%;
  margin: 2rem auto;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

#mapbase {
  margin-bottom: 2rem;
}

.stats-trio {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  justify-content: center;
  font-family: "Aaux-Black", sans-serif;

  .num-large {
    font-size: 4rem;
  }

  .text-mid {
    margin: 0 1rem;
  }
}

.stats-large-num {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "Aaux-Black", sans-serif;
}

.document-download {
  border: 2px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Aaux-Bold", sans-serif;
  display: inline-block;
}

.post-state {
  margin-top: 2rem;
}

.homepage-hero {
  margin-top: 1rem;

  h5 {
    margin-top: 0;
  }

  .full-width-text-inner {
    padding-top: 5rem;
    padding-bottom: 15rem;
  }
}

.state-box {
  .select-page {
    margin: 2rem 0;
  }
}

.join-embed {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }

  .advocacy-actionwidget {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;

    iframe {
      min-height: 280px !important;
      height: 280px;
    }
  }
}

.action-embed {
  .advocacy-actionwidget {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
  }
}

.action-item {
  padding: 0 15px 0 0;

  .img {
    padding: 0;
  }

  .text {
    padding: 0;

    .text-inner {
      padding: 3rem 5rem;
      color: white;

      h2 {
        .action-h2-link {
          color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

.tweet-block {
  &.tweet-block-white {
    border: 2px solid white;
  }

  &.tweet-block-black {
    border: 2px solid black;
  }

  padding: 1rem;

  .tweet-row {
    align-items: center;
  }

  .col-lg-3 {
    text-align: center;

    .fa-twitter {
      font-size: 3rem;
      color: $primary-color;
    }
  }

  .col-lg-9 {
    padding-left: 0;

    @include media-breakpoint-down(md) {
      padding-left: 15px;
    }
  }
}
