.site-footer {
  background: black;
  padding: 2rem;
  color: white;
  font-size: 0.875rem;

  p {
    font-size: 0.875rem;
  }

  .navbar-brand {
    img {
      max-width: 100px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-down(md) {
    .col-lg-2 {
      text-align: center;
    }
  }
}

.footer-nav-social ul {
  padding: 0;
  display: flex;

  @include media-breakpoint-down(md) {
    justify-content: space-around;
  }

  li {
    list-style: none;
    margin-right: 1rem;

    a.footer-social {
      color: $primary-color;
      font-size: 1.5rem;

      &:hover {
        color: white;
        background: transparent;
      }
    }
  }
}
