.banner {
  position: relative;
  margin-bottom: 3rem;

  .container {
    z-index: 3;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;

    .container {
      max-width: 100%;
    }
  }
}

.header-top {
  text-transform: uppercase;
  display: flex;
  position: relative;
  padding-left: 0.5rem;
  margin-bottom: 3rem;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .head-title {
    margin-top: 0;
    flex: 0 0 30%;
    font-family: $font-primary-bold;
    font-size: 1.5rem;
    color: black;
  }

  .advocacy-actionwidget {
    flex: 0 0 70%;
    z-index: 99;
    box-shadow: none !important;
    border: none !important;

    iframe {
      min-height: 50px !important;
      height: 50px !important;
      overflow: hidden;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 60%;
    }
  }
}

.desktop-logo {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.mobile-logo {
  display: none;

  @include media-breakpoint-down(md) {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 90%;
  max-height: 50px;
  margin-top: 45px;
  justify-content: flex-end;
  padding-right: 0.5rem;

  @include media-breakpoint-down(md) {
    max-height: unset;
    display: block;
    margin-top: 0;
    justify-content: flex-start;
    padding-right: 0;
  }
}

.page-header {
  padding: 1.5rem;
  background: $primary-color;
  margin: 1rem 0 0;
  position: relative;

  h1 {
    text-transform: unset;
    color: black;
    font-weight: 800;
    margin-top: 0;
    font-family: $font-primary-bold;
  }

  .header-asterisk {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.5rem;
    max-width: 90px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.home {
  .page-header {
    display: none;
  }
}

.header-social {
  display: flex;
  margin: 0;
  padding: 0;

  &.social-desktop {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.social-mobile {
    display: none;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }

  li {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;

    &:first-child {
      padding: 0;
    }

    &:nth-child(3) {
      padding: 0 1rem 0 0;
    }

    &:last-child {
      border-left: 1px solid $gray-400;
    }

    a {
      color: black;

      &:hover {
        color: $primary-color;
        background: transparent;
      }
    }
  }
}

.headline-asterisk {
  position: absolute;
}
