.banner {
  position: relative;

  .header-background-bar {
    z-index: 2;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
  }

  .container {
    z-index: 3;
  }

  .navbar-brand {
    img {
      max-width: 130px;
    }
  }
}

.header-top {
  background: black;
  color: white;
  text-transform: uppercase;

  .head-title {
    margin-top: 0;
  }
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 90%;
  max-height: 155px;
}

.page-header {
  padding: 1.5rem;
  background: $primary-color;
  margin: 1rem 0;
  position: relative;

  h1 {
    text-transform: unset;
    color: black;
    font-weight: 600;
    margin-top: 0;
  }

  .header-asterisk {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.5rem;
    max-width: 90px;
  }
}

.home {
  .page-header {
    display: none;
  }
}

.header-social {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;

    &:first-child {
      padding: 0;
    }

    &:last-child {
      border-left: 1px solid $gray-400;
    }

    a {
      color: black;

      &:hover {
        color: $primary-color;
        background: transparent;
      }
    }
  }
}
