.updates {
  .meta {
    display: flex;
    color: $gray-550;
    margin-bottom: 1rem;

    .author {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $gray-550;
    }
  }
}

.form-container {
  form.post-password-form {
    max-width: 1120px;
    margin: auto;
  }
}
