.btn {
  @include button-variant($primary-color, $primary-color, $black, $black);

  color: black;
  border-radius: 0;
  text-transform: uppercase;
  font-family: "Aaux-Bold", sans-serif;

  &.btn-black {
    @include button-variant($black, $black, $primary-color, $primary-color);

    color: $white;

    &:hover {
      color: black;
      background: $primary-color;
    }
  }

  &.btn-white {
    background: white;
    color: black;
  }

  &.btn-black-outline {
    border: 2px solid black;

    &:hover {
      background: black;
      color: white;
    }
  }

  &.btn-white-outline {
    background: black;
    border: 2px solid white;
    color: white;

    &:hover {
      background: white;
      color: black;
    }
  }

  &.btn-primary {
    background: $primary-color;
    color: black;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.posts-navigation {
  margin-bottom: 2rem;

  a {
    @extend .btn;
  }
}

.black-button {
  a {
    @extend .btn;
    @extend .btn-black;
  }
}

.green-button {
  margin: 1rem 0;

  a {
    @extend .btn;
  }
}

.bg-img-upload,
.bg-black {
  .green-button {
    a {
      &:hover {
        background: white;
        color: black;
      }
    }
  }
}
