.banner {
  position: relative;

  .header-background-bar {
    z-index: 2;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
  }

  .container {
    z-index: 3;
  }
}

.header-top {
  background: black;
  color: white;
  text-transform: uppercase;
}
