.navbar {
  .navbar-nav {
    .nav-item {
      padding-right: 1rem;
    }

    a {
      padding-left: 0;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 600;
      color: black;

      &:hover {
        background: black;
        color: white;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      border: none;

      .dropdown-item {
        padding: 0.5rem;
      }
    }
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
