a.navbar-brand {
  &:hover {
    background: transparent;
  }
}

.nav-footer {
  padding: 0;
  margin: 0 0 1rem;
  display: flex;

  @include media-breakpoint-down(md) {
    display: block;
  }

  .menu-item {
    list-style: none;
    margin-right: 2rem;

    a {
      color: white;
      background: transparent;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Aaux-Bold", sans-serif;

      &:hover {
        color: $primary-color;
        background: transparent;
      }
    }
  }
}

.navbar {
  .navbar-nav {
    @include media-breakpoint-down(md) {
      display: block;
    }

    .nav-link {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      color: black;
      font-family: "Aaux-Black", sans-serif;

      &:hover {
        background: black;
        color: white;
      }
    }

    .nav-item {
      padding-right: 1rem;

      &.active {
        .nav-link {
          background: black;
          color: white;
        }
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      border: none;

      .dropdown-item {
        padding: 0.5rem;
      }
    }
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.page-numbers {
  padding: 0;
  margin: 2rem 0;
  display: flex;
  justify-content: center;

  li {
    list-style: none;
    margin: 0 1rem;

    .page-numbers {
      background: black;
      color: white;
      padding: 0.5rem 1rem;
      font-family: "Aaux-Bold", sans-serif;
      text-decoration: none;
      width: 43px;
      text-align: center;

      &:hover {
        background: $primary-color;
        color: black;
      }
    }

    .current {
      background: $primary-color;
      color: black;
    }
  }
}
