.navbar {
  .nav {
    .menu-item {
      margin-right: 2rem;
    }

    a {
      padding-left: 0;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }
  }
}
