body {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 800;
  font-family: "Aaux-Black", sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.375rem;
  line-height: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.625rem;
  line-height: 2.1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.375rem;
  font-weight: normal;
  text-transform: uppercase;
}

.display-1 {
  line-height: 1.1;
  margin-top: 0;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.display-2 {
  font-size: 2.5rem;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.tooltip {
  width: 500px;
}

a {
  text-decoration: underline;
  color: black;

  &:hover {
    text-decoration: none;
    background: $primary-color;
  }

  &.image-hover {
    &:hover {
      background: transparent;
    }
  }
}

.single {
  .entry-title {
    background: $primary-color;
    color: black;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.head-title {
  font-size: 1rem;
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-large {
  font-size: 1.5rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-font-black {
  font-family: "Aaux-Black", sans-serif;
  font-weight: 800;
}

blockquote {
  border-left: $primary-color 5px solid;
  padding-left: 1rem;
  margin: 2rem 0;
}
