h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.single {
  .entry-title {
    background: $primary-color;
    color: black;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.page-header {
  padding: 1.5rem;
  background: $primary-color;
  margin: 2rem 0;

  h1 {
    max-width: 1140px;
    margin: auto;
    color: black;
    font-weight: 600;
  }
}

.head-title {
  font-size: 1rem;
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-large {
  font-size: 1.5rem;
}
